---
- name: "Hostname setup ..."
  include_role:
    name: wyga/hostname
  when: skip_hostname is not defined

- name: "Site Configuration ..."
  include_role:
    name: wyga/site/apply
  when: host.setup.site is defined

- name: "Network configuration (systemd) ..."
  block:
    - include_role:
        name: wyga/systemd-network
    - debug:
        msg:
          - "Reboot required ..."
      when: wyga_system_network.changed

    - meta: end_host
      when: wyga_system_network.changed and network_stop_on_change is defined
  when: skip_network is not defined and host.network.skip is not defined and host.network is defined

- name: "Trigger any pending reboots ..."
  meta: flush_handlers

- name: "Swap ..."
  include_role:
    name: wyga/swap
  when: host.setup.swap is defined

- name: "Locale configuration ..."
  include_role:
    name: wyga/locale
  when: host.setup.locale is defined

- name: "APT Configuration ..."
  include_role:
    name: wyga/apt
  when: skip_apt is not defined and host.setup.apt is defined

- name: "Process firstboot setup ..."
  include_role:
    name: wyga/firstboot
  vars:
    firstboot: "{{ host.package.firstboot }}"
  when: skip_firstboot is not defined and host.package.firstboot.profile is defined and not host.package.firstboot.skip|default(false) and not host.package.skip|default(false) and not host.package.baseline is defined

- name: "Packages Baseline ..."
  include_role:
    name: wyga/baseline
  when: >
    host.package.baseline is defined and
    (host.package.baseline is not string or host.package.baseline != 'none')

- name: "Process repositories ..."
  include_role:
    name: wyga/install-repository
  loop: "{{ host.package.repository }}"
  loop_control:
    loop_var: repository_loop
    label: "{{ repository_loop }}"
  vars:
    repository: "{{ repository_loop }}"
  when: host.package.repository is defined and not host.package.skip|default(false)

- name: "Process packages ..."
  include_role:
    name: wyga/install-package-override
  vars:
    install_packages: "{{ host.package.packages }}"
  when: skip_packages is not defined and host.package.packages is defined and not host.package.skip|default(false)

- name: "Configure packages ..."
  include_role:
    name: wyga/configure-package
  when: skip_packages is not defined and host.package.packages is defined and not host.package.skip|default(false)

- name: "System upgrade ..."
  include_role:
    name: wyga/dist-upgrade
  when: skip_upgrade is not defined and host.package.upgrade | default(true)

- name: "INITRAMFS configuration ..."
  include_role:
    name: wyga/initramfs-tools
  when: skip_initramfs is not defined and not host.setup.initramfs.skip|default(false)

- name: "GRUB Configuration ..."
  include_role:
    name: wyga/grub
  when: skip_grub is not defined and host.setup.grub is defined

- name: "SYSCTL Configuration ..."
  include_role:
    name: wyga/sysctl
  when: skip_sysctl is not defined and host.setup.sysctl is defined

- name: "Systemd configuration ..."
  include_role:
    name: wyga/systemd
  when: skip_systemd is not defined and host.setup.systemd is defined

- name: "SSH Configuration ..."
  include_role:
    name: wyga/ssh-configuration
  when: skip_ssh_configuration is not defined and host.setup.ssh is defined and not host.setup.ssh.skip | default(false)

- name: "SSH Host Certificate ..."
  include_role:
    name: wyga/ssh-host-certificate
  when: skip_ssh_certificate is not defined and host.setup.ssh is defined and not host.setup.ssh.skip | default(false) and host.setup.ssh.host.certificate|default(false) and host.setup.ssh.host.group is defined

- name: "Monitoring ..."
  include_role:
    name: wyga/monitoring
  when: host.setup.monitoring is defined

- name: "Datadog ..."
  include_role:
    name: wyga/datadog
  when: host.setup.datadog is defined

- name: "User profile ..."
  include_role:
    name: wyga/profile
  when: skip_profile is not defined and host.setup.profile|default(true)

- name: "VPN ..."
  include_role:
    name: wyga/nebula-vpn
  when: host.setup.vpn is defined

- name: "Docker ..."
  include_role:
    name: wyga/docker
  when: host.setup.docker is defined

- name: "Firewall ..."
  include_role:
    name: wyga/firewall
  when: host.firewall is defined

- name: "KVM Subsystem ..."
  include_role:
    name: wyga/kvm
  when: host.setup.kvm is defined

- name: "Canonicalization of group configuation ..."
  include_role:
    name: wyga/user-manager
  when: host.group is defined or host.user is defined or host.append.user is defined

- name: "Configure KVM Profile ..."
  include_role:
    name: wyga/kvm-profile
  when: host.setup.kvm is defined

- name: "Configure Traefik Ingress ..."
  include_role:
    name: wyga/ingress/traefik
  when: host.setup.ingress.traefik is defined

- name: "Configure Nginx Ingress ..."
  include_role:
    name: wyga/ingress/nginx
  when: host.setup.ingress.nginx is defined

- name: "Policy marker ..."
  include_tasks: "mark-policy.yaml"

- name: "Workstation / Configuration ..."
  include_role:
    name: wyga/workstation
  when: host.setup.workstation is defined

- name: "Process KITs ..."
  include_role:
    name: wyga/kit

- name: "Locale configuration ..."
  include_role:
    name: wyga/locale
  when: host.setup.locale is defined
