#jinja2: trim_blocks: True, lstrip_blocks: True
pki:
  ca: /etc/site/vpn/{{ vpn_name }}/ca.crt
  cert: /etc/site/vpn/{{ vpn_name }}/host.crt
  key: /etc/site/vpn/{{ vpn_name }}/host.key
  disconnect_invalid: true
{% if vpn.blocklist is defined %}
  blocklist:
{% for block in vpn.blocklist %}
    - {{ block }}
{% endfor %}
{% endif %}

static_host_map:
{% for host in vpn.lighthouse.hosts.keys() %}
  "{{ host }}":
  {% for map in vpn.lighthouse.hosts[host] %}
    - "{{ map }}"
  {% endfor %}
{% endfor %}

static_map:
  cadence: 60s
  network: ip4
  lookup_timeout: 250ms

lighthouse:
  am_lighthouse: {{ 'true' if vpn_am_lighthouse else 'false' }}
  {% if am_lighthouse and vpn.lighthouse.dns.enable | default(true) %}
  serve_dns: true
  dns:
    host: {{ vpn_ip }}
    port: 53
  {% endif %}
  interval: 60
  hosts:
    {% if not vpn_am_lighthouse %}
    {% for host in vpn.lighthouse.hosts.keys() %}
    - {{ host }}
    {% endfor %}
    {% endif %}

listen:
  host: 0.0.0.0
  port: {{ vpn_port if vpn_am_lighthouse else 0 }}

punchy:
  punch: true
  respond: true
  delay: 1s
  respond_delay: 5s
  target_all_remotes: true

cipher: {{ vpn.cipher | default('aes') }}
{% if vpn_adjacent | length > 0 %}

preferred_ranges:
{% for neig in vpn_adjacent %}
  - "{{ neig }}"
{% endfor %}
{% endif %}

relay:
  {% if not vpn_am_lighthouse %}
  relays:
  {% for relay in vpn.lighthouse.hosts.keys() %}
    - "{{ relay }}"
  {% endfor %}
  {% endif %}
  am_relay: {{ 'true' if vpn_am_lighthouse else 'false' }}
  use_relays: {{ 'true' if vpn_use_relays else 'false' }}

tun:
  disabled: false
  dev: {{ vpn.tun.dev | default('overlay0') }}
  drop_local_broadcast: true
  drop_multicast: true
  tx_queue: 500
  mtu: 1300
{% if vpn.routing is defined or instance.routing is defined %}
  unsafe_routes:
    {% if vpn.routing is defined %}
    {% for via in vpn.routing.keys() if not via == vpn_ip %}
    {% for route in vpn.routing[via] %}
    - route: {{ route.to }}
      via: {{ via }}
      metric: {{ route.metric | default(1000) }}
      install: true
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% if instance.routing is defined %}
    {% for via in instance.routing.keys() %}
    {% for route in instance.routing[via] %}
    - route: {{ route.to }}
      via: {{ via }}
      metric: {{ route.metric | default(1000) }}
      install: true
    {% endfor %}
    {% endfor %}
    {% endif %}
{% endif %}
{%if vpn_systemroute %}
  use_system_route_table: true
{% endif %}

logging:
  level: fatal
  format: text
  disable_timestamp: true

handshakes:
  try_interval: 100ms
  retries: 10
  query_buffer: 64
  trigger_buffer: 64

tunnels:
  drop_inactive: true
  inactivity_timeout: 60m

firewall:
  outbound_action: reject
  inbound_action: reject

  conntrack:
    tcp_timeout: 12m
    udp_timeout: 3m
    default_timeout: 10m

  outbound:
    - port: any
      proto: any
      host: any

  inbound:
    - port: any
      proto: any
      host: any

{% if vpn.routing is defined or instance.routing is defined %}
# Allow unsafe_routes (post 1.9.0)
    - port: any
      proto: any
      host: any
      local_cidr: 0.0.0.0/0
{% endif %}
