---
- name: "Prepare groups dictonary ..."
  set_fact:
    wum_groups: {}

- name: "Prepare users dictonary ..."
  set_fact:
    wum_users: {}

- name: "Normalize groups ..."
  vars:
    _defaults:
      system: false
      unique: true
    _raw: "{{ wum_target.value if wum_target.value is mapping else {} }}"
  set_fact:
    wum_groups: "{{ wum_groups | default({}) | combine({wum_target.key: _defaults | combine(_raw)}) }}"
  loop: "{{ (host.group | default({})) | dict2items }}"
  loop_control:
    loop_var: wum_target
    label: "{{ wum_target.key }}"


- name: "Merge host.user with host.append.user ..."
  set_fact:
    wum_host_users: "{{ (host.append.user | default({})) | combine(host.user | default({}),recursive=True, list_merge='append_rp') }}"

- name: "Canonicalization of users configuation ..."
  include_tasks: "normalize-user.yaml"
  loop: "{{ wum_host_users | dict2items }}"
  loop_control:
    loop_var: wum_target
    label: "user"

- block:
  - name: "Load user CA certificate ..."
    include_tasks: "load-user-cert.yaml"

  - name: "Fail if there is no user_cert defined ..."
    fail:
      msg: "the 'user_cert' is not defined"
    when: user_cert is not defined
  when: host.setup.ssh.user.certificate | default(false)

- name: "Enumerate groups ..."
  include_tasks: "enumerate-groups.yaml"

- name: "Group management ..."
  include_tasks: "group.yaml"

- name: "User management ..."
  include_tasks: "user.yaml"

- name: "Create required directiores ..."
  file:
    path: "{{ required_directory }}"
    state: directory
  loop:
    - "{{ ssh_pool_dir }}"
  loop_control:
    loop_var: required_directory
    label: "{{ required_directory }}"

# roles disabled
#    - "{{ ca_ssh_ca_dir }}"
#    - "{{ ca_ssh_role_dir }}"

#- include_tasks: "update-ca-cert.yaml"
#  when: host.setup.ssh.user.certificate | default(false)

#- name: "Update roles ..."
#  include_tasks: "update-roles.yaml"
#  loop: "{{ wum_users | dict2items }}"
#  loop_control:
#    loop_var: target
#    label: "{{ target.key }}"

#- name: "Remove orphaned roles ..."
#  include_tasks: "remove-roles.yaml"

- name: "Manage ssh authorized keys ..."
  include_tasks: "authorized.yaml"

- name: "Configure /etc/ssh/sshd_config"
  include_tasks: "update-ssh.yaml"
