---
- name: "Remove group ..."
  set_fact:
    remove_groups: []

- name: "Check is path {{ wum_group_managed }} exists ..."
  stat:
    path: "{{ wum_group_managed }}"
  register: wumgr

- name: "Process removed groups ..."
  block:
    - name: "Find removed groups ..."
      find:
        path: "{{ wum_group_managed }}"
        file_type: file
        excludes: "{{ my_groups }}"
      register: removed_groups

    - name: "Collect names of removed groups ..."
      set_fact:
        remove_groups: "{{ remove_groups + [ item.path | basename ] }}"
      with_items: "{{ removed_groups['files'] }}"

    - name: "List removed groups ..."
      debug:
        msg: "{{ item }}"
        verbosity: 1
      loop: "{{ remove_groups }}"

    - name: "Remove group {{ remove_group | default(omit) }} ..."
      ansible.builtin.group:
        name: "{{ remove_group }}"
        state: absent
      loop: "{{ remove_groups }}"
      loop_control:
        loop_var: remove_group
        label: "{{ remove_group }}"

    - name: "Remove marker for group {{ remove_group | default(omit) }} ..."
      file:
        path: "{{wum_group_managed }}/{{ remove_group }}"
        state: absent
      loop: "{{ remove_groups }}"
      loop_control:
        loop_var: remove_group
        label: "{{ remove_group }}"
  when: wumgr.stat.exists and wumgr.stat.isdir
