---
- name: "Normalize user {{ wum_target.key }}"
  vars:
    _defaults:
      shell: /bin/bash
      role: []
      authorized: []
      groups: []
      forceChange: false
    _raw_value: "{{ wum_target.value if wum_target.value is mapping else {} }}"
    _with_onboard: "{{ (_raw_value.password | default('') == 'onboard') | ternary({'password': onboard_password, 'forceChange': true}, {}) }}"
    _normalized: "{{ _defaults | combine(_raw_value) | combine(_with_onboard) | combine({'name': wum_target.key}) }}"
  set_fact:
    wum_users: "{{ wum_users | default({}) | combine({wum_target.key: _normalized}) }}"
