- name: "Create user ..."
  include_tasks: "user-create.yaml"
  loop: "{{ wum_users | dict2items }}"
  loop_control:
    loop_var: target
    label: "{{ target.key }}"

- name: "Find removed users ..."
  find:
    path: "{{ wum_user_managed }}"
    file_type: file
    excludes: "{{ wum_users.keys() }}"
  register: removed_users

- name: "Collect names of removed users ..."
  set_fact:
    remove_users: "{{ removed_users.files | map(attribute='path') | map('basename') | reject('equalto', 'root') | list }}"

- name: "List removed users ..."
  debug:
    msg: "{{ rm_user }}"
    verbosity: 1
  loop: "{{ remove_users }}"
  loop_control:
    loop_var: rm_user
    label: "{{ rm_user }}"

- name: "Remove user ..."
  include_tasks: "user-remove.yaml"
  loop: "{{ remove_users }}"
  loop_control:
    loop_var: rm_user
    label: "{{ rm_user }}"
