- name: "Check if host is defined ..."
  assert:
    that:
      - host is defined

- name: "User Manager / Verify host.user ..."
  assert:
    that:
      - host.user is mapping
    quiet: true
    fail_msg: "Unsupported host.user format ..."
  when: host.user is defined

- include_tasks: "subtask/execute.yaml"
